<ul class="image-gallery">
    <li class="img-cont">
        <a rel="img-gal" id="image01" href="/images/cultura/arxiu/carta_pobla.jpg" title="Carta Pobla de Pego 1279">
            <img src="/images/cultura/arxiu/carta_pobla_thumb.jpg" alt="Carta Pobla 1279" />
        </a>
    </li>
    <li class="img-cont">
        <a rel="img-gal" id="image02" href="/images/cultura/arxiu/joan_sala.jpg" title="Joan Sala">
            <img src="/images/cultura/arxiu/joan_sala_thumb.jpg" alt="Joan Sala" />
        </a> 
    </li>
    <li class="img-cont">
        <a rel="img-gal" id="image03" href="/images/cultura/arxiu/segell_escut_pego.jpg" title="Segell escut de Pego 1707">
            <img src="/images/cultura/arxiu/segell_escut_pego_thumb.jpg" />
        </a>
    </li>
    <li class="img-cont">
        <a rel="img-gal" id="image04" href="/images/cultura/arxiu/llibre_bens.jpg" title="Llibre de Bens 1539">
            <img src="/images/cultura/arxiu/llibre_bens_thumb.jpg" />
        </a>
    </li>
    <li class="img-cont">
        <a rel="img-gal" id="image05" href="/images/cultura/arxiu/llibre_justicia.jpg" title="Llibre de justicia 1667">
            <img src="/images/cultura/arxiu/llibre_justicia_thumb.jpg" />
        </a>
    </li>
    <li class="img-cont">
        <a rel="img-gal" id="image04" href="/images/cultura/arxiu/maria_cambrils.jpg" title="Maria Cambrils">
            <img src="/images/cultura/arxiu/maria_cambrils_thumb.jpg" />
        </a>
    </li>
</ul>