.main-menu{
      width: 195px !important;
}

.news-header{
    background-color: #4a5ee3;
}

.banners{
    text-align: center;
    width: 140px !important; 
    padding: 10px 0;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 2px #888888;    /* iPhone */
    -webkit-border-radius: 5px;                 /* iPhone */
    box-shadow: 5px 5px 2px #888888;
    border-radius: 5px;
}

.banner{
    margin-bottom: 5px;
}

.news article{
    font-family: Sans-Serif, Arial, Verdana;
    border-bottom: 3px dotted #666666;
    margin: 0 0 1.2em 0;
}

.news article header h2, .news h2{
    color: #8f030c;
    border-bottom: 1px dotted #4a5ee3;
}

.post-info{
    font-size: 0.7em;
    text-align: right;
    margin-top: -15px;
    width: 100%;
}

/* news images links location */
/* standalone image, image that spans a single line and causes a line break*/
.salone-image{
    display: block;
    margin: auto;
}

.inline-image{
    float: left;
    margin: 0 10px 10px 0;
}
/* end news images layouts */