.main-menu{
  	width: 195px !important;
}
  	
.news-header{
	background-color: #4a5ee3;
	margin-bottom: 10px;
	padding: 0px 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #888;
}
  	
#sect-header-img{
	margin-top: 5px;
	margin-bottom: -5px;
}
  	
.banners{
	text-align: center;
	width: 140px !important; 
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 5px 5px 2px #888888;
	border-radius: 5px; 	
}
  	
.banner{
	margin-bottom: 5px;
}
  	
.news article{
	border-bottom: 3px dotted #666666;
}
  	
.news article header h2, .news h2{
	font-family: Georgia, Arial, Verdana;
	color: #8f030c;
	border-bottom: 1px dotted #4a5ee3;
}

.post-info{
    font-size: 0.7em;
    text-align: right;
    margin-top: -15px;
    width: 100%;
}