---
layout: nil
---
{% include css/headers.css %}

body{
    background-color: #A7C2D1;
}

.container{
    background-color: #F1F0E8;
}

.header{
    padding-top: 20px;
    background: url("/images/bg_header.jpg") top left no-repeat;    
}
.header img{
    margin-left: 100px;
}

.menu{
    padding-left: 8px;    
}

.section-menu{
    margin: 10px 0 0 8px;
    width: 200px;
}

.section-menu ul{
    list-style: none;
    margin: 0; padding: 2px 0;
    background-color: #C0C0C0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* //TODO: Rounded corners for IE*/
}

.section-menu ul li{
    margin: 5px 0;
    text-align: center;
    font-family: TitilliumText22LMedium, Georgia, Arial, Verdana;
}

.section-menu ul li a{
    color: #666666;
    margin: auto;
}

.current{
    font-weight: bolder;
    font-size: 1.1em;
    background-color: #666666;
}

.section-menu ul li.current a, .section-menu ul li.current a:HOVER{
    color: #fff;
}

ul.secondary-menu{
    list-style: none;
    background-color: #C0C0C0;
    -moz-border-radius: 8px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-top: 1px;
}

ul.secondary-menu li{
    display: inline;
    margin: 0 5px;
    padding: 2px;
}

.section-menu ul li strong{
    font-weight: bold;
    font-size: 1.2em;
    background-color: #979797;
    color: #dff1e8;
    display: block
}

#main-title{
    position: relative;
    width: 209px; height: 129px;
    overflow: hidden;
    float: left;
}

#main-title span{
    display: block;
    position: absolute;
    left:0; top:0; z-index:1;
    width:209px; height: 129px;
    margin:0; padding:0;
    background:url("/images/cap02.jpg") top left no-repeat;
}

.content{
    min-height: 500px;
    padding: 10px;
}

.centerImage{
    text-align: center;
}

.ajuntamentTableTitle{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}
#sectionHeader{
    margin: 0 0 15px 0;
    width: 650px;
    height: 41px;
}
.underConstruction{
    margin: 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.emphatize{
    font-weight: bolder;
}

.down-excel{
    list-style-image: url('/images/excel_16_16.gif');
}
.down-oocalc{
    list-style-image: url('/images/soffice_calc_16_16.gif');
}
.down-pdf{
    list-style-image: url("/images/file_acrobat.gif");
}

.file-pdf{
    list-style-image: url("/images/file_acrobat.gif");
}

.file-word{
    list-style-image: url('/images/file_ms_word.png');
}

.file-odt{
    list-style-image: url('/images/file_libo_writer.png');
}

a:link, .ui-widget-content div a:link {
    color:#6495be;
    text-decoration:none;
}
a:visited, .ui-widget-content div a:visited{
    color:#6495be;
    text-decoration:none;
}
a:hover, .ui-widget-content div a:hover {
    color:#910000;
}


.footer{
    padding: 10px 0 0 8px;
}

.empty-menu{
    display: block;
}

#footer-info{
    position: relative;
    width: 940px; height: 53px;
    overflow: hidden;
    float: left;
}

#footer-info span{
    display: block;
    position: absolute;
    left:0; top:0; z-index:1;
    width:940px; height: 53px;
    margin:0; padding:0;
    background:url("/images/bg_footer.jpg") top left no-repeat;
}

.vcard .info-label{
    font-weight: bold;
    float: left;
    min-width: 100px;
}

.tel .type{
    display: none;
}

#biblioteca .postal-code, #biblioteca .country-name{
    display: none;
}

h2.urbanisme{
    padding: 5px;
    background-color: #a6765f;
    color: #fff;
    padding-right: 15px;
    font-weight: bolder;
}

.content-header{
    margin-bottom: 10px;
    padding: 0px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #888;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 5px 5px 2px #888;
}

#section-header-img{
    margin-top: 5px;
    margin-bottom: -5px;
}

p.content{
    margin: 0 2%;
    text-align: justify;
}

h2, h3, h4{
    font-family: TitilliumText22LMedium, Georgia, Arial, Verdana;
}

.publicBuilding{
    width: 300px;
    margin: 0 auto;
    -webkit-box-shadow: #AAA 0 10px 16px;
    -moz-box-shadow: #AAA 0 10px 16px;
    box-shadow: #AAA 0 10px 16px;
    background-color: #fff;
    padding: 10px;
}

.update{
    font-size: 0.9em;
    border: 1px solid #c3b329;
    background-color: #e1d56c;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
}

.update p{
    margin: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.right{
    text-align: right;
}

.robots-only{
    display: none;
    width: 0px;
}

/* Fancy box galleries */
.img-cont{
    list-style: none;
    display: inline-block;
    width: 175px;
    height: 125px;
    overflow: hidden;
    margin-bottom: 15px;
}

.img-cont img{
    margin: 0 auto;
    display: block;
}

.image-gallery{
    margin-top: 45px;
}

{% include css/serveis.css %}

{% include css/esports.css %}

{% include css/urbanisme.css %}

{% include css/educacio.css %}

{% include css/post.css %}

{% include css/front_page.css %}

{% include css/ajuntament.css %}

{% include css/economia.css %}

{% include css/medi.css %}

{% include css/cultura.css %}

{% include css/turisme.css %}

{% include css/festes.css %}

.impressos li{
    list-style-image: url("/images/file_acrobat.gif");
}

.no-list ul{
    list-style: none;
}

.destacat{
    padding: 10px 0;
    text-align: center;
    border: 3px solid #919191;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 0.75em;
}

.destacat h2{
    margin: 0;
}

.pdf-list {
    list-style-image: url("/images/file_acrobat.gif");
}