---
layout: page
title: Mancomunitat de Serveis Socials i Turisme
section: serveis
jqueryui: true
description: Descripció, localització, activitats, serveis i horaris d'atenció al public de la mancomunitat de serveis socials de Pego i les valls.
---
{% comment %}
Sota construcció. En breu estarà disponible.
{% endcomment %}
<div id="tabs-centres" class="tabs">
    <ul>
        <li><a href="#presentacio">Presentació</a></li>
        <li><a href="#estructura">Estructura Orgànica</a></li>
        <li><a href="#csocial">Centre Social Municipal</a></li>
        <li><a href="#programes">Programes</a></li>
        <li><a href="#activitats">Activitats</a></li>
        <li><a href="#telefons">Telèfons d'informació</a></li>
    </ul>
    <div id="presentacio">
        {% capture lContent %}{% include manco/presentacio.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="estructura">
        {% capture lContent %}{% include manco/estructura.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="csocial">
        {% capture lContent %}{% include manco/csocial.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="programes">
        {% capture lContent %}{% include manco/programes.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="activitats">
        {% capture lContent %}{% include manco/activitats.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="telefons">
        {% capture lContent %}{% include manco/telefons.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
</div>