<div class="span-3 banners">
    <div class="baner">
        <a href="https://pego.sede.ladipu.com/opencms/opencms/portal/index.html" target="_blank"><img src="images/logo_ov.png" alt="Oficina Virtual" width="120" ></a>
    </div>
    <div class="banner">
        <script type='text/javascript' src='http://www.aemet.es/ca/eltiempo/prediccion/municipios/launchwidget/pego-id03102?w=g1p01110000ohmffffffw120z205x4f86d9t95b6e9'></script><noscript><a target='_blank' style='font-weight: bold;font-size: 1.20em;' href='http://www.aemet.es/ca/eltiempo/prediccion/municipios/pego-id03102'>El Tiempo. Consulte la predicción de la AEMET para Pego</a></noscript>
    </div>
    <div class="banner">
        <a href="http://www.radiopego.com" target="_blank"><img src="images/rp.jpg" alt="Radio Pego" width="120" ></a>
    </div>
    <div class="banner">
        <a href="turisme/activitats_i_contacte.html"><img src="images/comunitatvaleciana.jpg" alt="Turisme a Pego" width="120" ></a>
    </div>
    <div class="banner">
        <a href="http://www.geonet.es/Callejero/callejero.aspx?municipioINE=03-102" target="_blank"><img src="images/geonet.jpg" alt="Geonet" ></a>
    </div>
    <div class="banner">
        <a href="serveis/mancomunitat.html"><img src="images/mancomuntat.jpg" alt="Mancomunitat de Serveis Socials" width="120" ></a>
    </div>
    <div class="banner">
        <a href="economia/creama.php" target="_self"><img src="images/creama.jpg" alt="CREAMA" ></a>
    </div>
    <div class="banner">
        <a href="http://cma.gva.es/etcv" target="_blank"><img src="images/bannerETCV.jpg" alt="Estrategia territorial de la comunitat valenciana"  title="Estratègia territorial de la comunitat valenciana"></a>
    </div>
    <div class="banner">
        <a href="http://www.sindicdegreuges.gva.es" target="_blank" title="Sindic de greuges de la comunitat Valenciana"><img src="/images/sindic.jpg" width="120" alt="sindic de greuges de la comunitat valenciana" /></a>
    </div>
    <div class="banner">
        <a href="http://aiguamoll.org" target="_blank" title="Comenius"><img src="/images/banner_comenius.jpg" alt="COMENIUS" /></a>
    </div>
</div>