<div class="pago-proveedores" style="background-color: white;padding: 10px;border: 2px solid #D6D6D6;margin: 16px 0;">
	<h3 style="text-decoration: none;">Plan de pago a proveedores a través del mecanismo establecido en el Real Decreto Ley 4/2012</h3>
	<ul>
		<li><a href="/pdf/hisenda/ProcedimientosRDL4-2012(version23032012).pdf">Procedimientos relacionados con el RDL 4/2012</a></li>
		<li><a href="/pdf/hisenda/modelaceptacioncobroproveedorsRDL42012.pdf">Modelo de aceptación para el cobro a través del mecanismo de pago a proveedores vía presencial. El plazo para la presentación finaliza en 22/04/2012</a></li>
	</ul>
</div>