/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$col_ajuntament: #2E448D;
$col_ajuntament_dos: #7084B7;
$col_cultura: #049bd2;
$col_cultura_dos: #59bde1;
$col_economia: #bb7c51;
$col_economia_dos: #d5aa8a;
$col_educacio: #ff0066;
$col_educacio_dos: #ff94be;
$col_esports: #DA1C40;
$col_esports_dos: #E96781;
$col_festes: #cacb01;
$col_festes_dos: #dedc4b;
$col_medi: #9EC301;
$col_medi_dos: #BAD74B;
$col_news: #4A5EE3;
$col_news_dos: #8590F9;
$col_serveis: #57a79c;
$col_serveis_dos: #85c8bf;
$col_turisme: #50885b;
$col_turisme_dos: #84b28e;
$col_urbanisme: #a6765f;
$col_urbanisme_dos: #c3a08d;

$aj_font: FuturaLight, Verdana, Arial;
$navbar-default-color: #fff;

//@import "compass/reset";
@import "bootstrap";
@import "compass/css3/shared";
@import "main-menu";

body {
    background-color: #A7C2D1;
}

.container {
    padding-top: 5px;
    background-color: #F1F0E8;
}

.header{
    font-family: 'FuturaLight', Arial, Verdana;

    #mobile-header {
        .caption {
            font-size: 1.5em;
        }
    }

    #main-title {
        position: absolute;
        z-index: 1;
        left: 2%;
        background-color: rgba(255, 255, 255, 0.7);
        width: 21%;
        color: #000;
        height: 100%;
        margin: 0;
        padding-top: 3%;
    }

    a {
        color: #000;
    }
    img {
        display: block;
        margin: 0 auto;
    }

    .caption {
        display: block;
        font-size: 0.5em;
        text-align: center;
    }

    .aj-caroussel{
        text-align: center;

        #carousel-aj .carousel-inner .item:hover{
            margin: 0px
        }
    }
}

@mixin section-header($primary_color, $secondary_color){
    background-color: $primary_color;

    .head{
        .back{
            color: $secondary_color;
        }
    }
}

@mixin section-title($primary_color) {
    font-family: 'FuturaLight', Arial, Verdana;
    color: $primary_color;
    border-bottom: 1px dotted $primary_color;
}

.section-header{
    border-radius: 5px;
    min-height: 35px;
    font-family: $aj_font;
    position:relative;
    letter-spacing: 2px;
    overflow: hidden;
    max-width: 870px;

    .head{
        .front{
            color: #fff;
            position: absolute;
            left: 17px;
            top: 0px;
            z-index: 1;
            font-weight: bolder;
            font-size: 1.5em;
        }

        .back{
            position: absolute;
            font-size: 2.5em;
            font-weight: bolder;
            z-index: 0;
            bottom: -12px;
        }

        #scl-buttons{
            a {
                text-decoration: none;
                color: $col_news_dos;
            }
            right: 0;
            position: absolute;
            padding: 3px
        }
    }
}

.post-info {
    font-size: 0.8em;

    time {
        font-weight: bold;
    }
}

.content{
    margin-top: 10px;
    min-height: 580px;

    .news {
        article{
            border-bottom: 3px dotted #666;
            margin: 0px 0px 1.1em;

            header {
                h2 {
                    a {
                        color: $col_news;
                        font-family: 'FuturaLight', Arial, Verdana;
                        text-decoration: none;
                    }
                    border-bottom: 1px dotted #4A5EE3;
                }

            }
        }

        .art-content{
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }

    .banners{
        margin-top: 10px;

        .banner-container{
            width: 105%;
            background-color: #fff;

                .banner {
                    margin-top: 10px;

                    img{
                        width: 100%;
                    }
                }

                table#table_widget{
                    width:100% !important;
                }
        }
    }
}

.section-menu {

    ul {
        list-style: none outside none;
        margin: 0px;
        padding: 2px 0px;
        background-color: #C0C0C0;
        border-radius: 8px;
    }

    ul li {
        margin: 5px 0px;
        text-align: center;
        font-family: FuturaLight,Georgia,Arial,Verdana;
        font-size: 1.1em;
    }

    ul li a {
        color: #666;
        margin: auto;
    }

    ul li strong {
        font-weight: bold;
        font-size: 1.2em;
        background-color: #979797;
        color: #DFF1E8;
        display: block;
    }
}

.footer{
    margin-top: 15px;

    #footer-info {
        background-color: #B1B2A2;
        text-align: center;
        font-family: 'FuturaLight', Arial, Verdana;
        padding: 5px 0;

        background-image: url('/images/logo-ajuntament-blanc.png');
        background-repeat: no-repeat;
        background-position: 25% 65%;

        .org {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: #000;
        }

        .tel-type {
            font-weight: bold;
        }

        .type, .country-name {
            display: none;
        }
    }
}

#badges-policy{
    margin: 15px 0;
    text-align: center;
}

.post-info {
    text-align: right;
}

.salone-image {
    display: block;
    margin: auto;
}

.inline-image {
    float: left;
    margin: 7px 10px 10px 0;
}

.center {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1199px){
    #el-temps{
        display: none;
    }
}


.section-header-ajuntament {
    @include section-header($col_ajuntament, $col_ajuntament_dos);
}

.section-header-blog{
    @include section-header($col_news, $col_news_dos);
}

.section-header-medi {
    @include section-header($col_medi, $col_medi_dos);
}

.section-header-esports {
    @include section-header($col_esports, $col_esports_dos);
}

.section-header-urbanisme{
    @include section-header($col_urbanisme, $col_urbanisme_dos);
}

.section-header-turisme {
    @include section-header($col_turisme, $col_turisme_dos);
}

.section-header-serveis {
    @include section-header($col_serveis, $col_serveis_dos);
}

.section-header-festes {
    @include section-header($col_festes, $col_festes_dos);
}

.section-header-educacio {
    @include section-header($col_educacio, $col_educacio_dos);
}

.section-header-economia {
    @include section-header($col_economia, $col_economia_dos);
}

.section-header-cultura {
    @include section-header($col_cultura, $col_cultura_dos);
}

.section-title-ajuntament {
    @include section-title($col_ajuntament);
}

.section-title-blog{
    @include section-title($col_news);
}

.section-title-medi {
    @include section-title($col_medi);
}

.section-title-esports {
    @include section-title($col_esports);
}

.section-title-urbanisme{
    @include section-title($col_urbanisme);
}

.section-title-turisme {
    @include section-title($col_turisme);
}

.section-title-serveis {
    @include section-title($col_serveis);
}

.section-title-festes {
    @include section-title($col_festes);
}

.section-title-educacio {
    @include section-title($col_educacio);
}

.section-title-economia {
    @include section-title($col_economia);
}

.section-title-cultura {
    @include section-title($col_cultura);
}