<nav class="menu">
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_ajuntament" href="/ajuntament/salutacio-alcalde.html">Ajuntament</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_economia" href="/economia/creama.html">Economia</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_urbanisme" href="/urbanisme/informacio.html">Urbanisme</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_serveis" href="/serveis/mancomunitat.html">Serveis</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_medi-ambient" href="/medi-ambient/parc-natural-marjal.html">Medi ambient</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_esports" href="/esports/instalacions.html">Esports</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_educacio" href="/educacio/centres.html">Educació</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_cultura" href="/cultura/historia.html">Cultura</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_turisme" href="/turisme/activitats-i-contacte.html">Turisme</a>
    </div>
    <div class="item-container">
        <span class="item-background">&nbsp;</span>
        <a class="item m_festes" href="/festes/festes-i-tradicions.html">Festes</a>
    </div>
</nav>