.educacio-header{
    background-color:#FF0066;
}

.menu-educacio .current{
    background-color: #FF0066;
}

.educacio .tabs table>thead{
    display: none;
}

.educacio .tabs table tbody>tr>td:first-child{
    font-weight: bold;
}