.ajuntament h1, .ajuntament h2, .ajuntament h3, .ajuntament h4, .ajuntament h5{
    color: #2e448d;
    border-bottom: 1px dotted #2e448d;
}

.economia h1, .economia h2, .economia h3, .economia h4, .economia h5{
    color: #bb7c51;
    border-bottom: 1px dotted #bb7c51;
}

.serveis h1, .serveis h2, .serveis h3, .serveis h4, .serveis h5{
    color: #56A89C;
    border-bottom: 1px dotted #56A89C;
}

.educacio h1, .educacio h2, .educacio h3, .educacio h4, .educacio h5{
    color: #FF0066;
    border-bottom: 1px dotted #FF0066;
}

.esports h1, .esports h2, .esports h3, .esports h4, .esports h5{
    color: #DA1C40;
    border-bottom: 1px dotted #DA1C40;
}

.medi h1, .medi h2, .medi h3, .medi h4, .medi h5{
    color: #9EC301;
    border-bottom: 1px dotted #9EC301;
}

.urbanisme h1, .urbanisme h2, .urbanisme h3, .urbanisme h4, .urbanisme h5{
    color: #A6765F;
    border-bottom: 1px dotted #A6765F;
}

.iajuntament-hx{
    color: #fff;
    background-color: #2e448d;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}

.ieconomia-hx{
    color: #fff;
    background-color: #bb7c51;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}

.iserveis-hx{
    color: #fff;
    background-color: #56A89C;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}


.iesports-hx{
    color: #fff;
    background-color: #DA1C40;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}

.ieducacio-hx{
    color: #fff;
    background-color: #FF0066;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}

.imedi-hx{
    color: #fff;
    background-color: #9EC301;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}

.iurbanisme-hx{
    color: #fff;
    background-color: #A6765F;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}