.serveis-header{
    background-color: #56a89c;
}

.serveis h2{
    color: #56a89c;
    border-bottom: 1px dotted #56a89c;
}

.serveis .oferta-treball, .ppp{
    border: 1px solid #acacac;
    padding: 20px;
    box-shadow: #AAA 0px 10px 16px;
    margin-bottom: 25px;
    background-color: #fff;
}

.serveis .oferta-treball ul{
    margin-top: 10px;
}

/* Relevant phone numbers table */
.serveis thead{
    display: none;
}
.serveis table{
    padding: 10px;
    box-shadow: #AAA 0px 10px 16px;
    background-color: #fff;
}
.serveis td{
    border-bottom: 1px dotted #000;
}



