---
layout: default
---
<div class="span-6 menu">
    {% include menus/main-menu.html %}
    <div class="section-menu">
         <ul class="menu-seccion main-menu">
            <li><a href="/visitavirtual/virtual_tour.php">Visita virtual</a></li>
            <li><a href="/turisme/videos_pego.html">Vídeos de Pego</a></li>
            <li><a href="/serveis/telefons.html">Telèfons D'interés</a></li>
            <li><a href="/serveis/contractacio.html">Contractació</a></li>
            <li><a href="/serveis/normativa.html">Normativa</a></li>
            <li><a href="/serveis/impressos.html">Impressos</a></li>
            <li><a href="/serveis/ocupacio_publica.html">Ocupació Pública</a></li>
         </ul>
    </div>
</div>
<div class="span-17 last content">
    {{ content }}
</div>