---
layout: default
---
<div class="span-6 menu">
    <object name="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="204" height="365" data="/legacy_flash/menu.swf" type="application/x-shockwave-flash">
            <param name="movie" value="legacy_flash/menu.swf"/>
            <!--[if !IE]>-->
            <object type="application/x-shockwave-flash" data="/legacy_flash/menu.swf" width="204" height="365">
            <!--<![endif]-->
            <p>You need to have flash player installed to see this content</p>
            <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
      </object>
    <div class="section-menu">
         <ul class="menu-seccion main-menu">
            <li><a href="/visitavirtual/virtual_tour.php">Visita virtual</a></li>
            <li><a href="/turisme/videos_pego.html">Vídeos de Pego</a></li>
            <li><a href="/serveis/telefons.html">Telèfons D'interés</a></li>
            <li><a href="/serveis/contractacio.html">Contractació</a></li>
            <li><a href="/serveis/normativa.html">Normativa</a></li>
            <li><a href="/serveis/impressos.html">Impressos</a></li>
            <li><a href="/serveis/ocupacio_publica.html">Ocupació Pública</a></li>
         </ul>
    </div>
</div>
<div class="span-17 last content">
    {{ content }}
</div>