---
layout: default
---
<div class="row content">
    <div class="col-md-3 menu">
        {% include menus/main-menu.html %}
        <div class="section-menu visible-lg{%if page.section %} menu-{{page.section}}{%endif%}">
        {% case page.section %}
        {% when 'blog' %}{% capture sidebar %}{% include menus/blog.markdown %}{% endcapture %}
        {% endcase %}
        {% if sidebar %}
        {{ sidebar | markdownify }}
        {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12 section-header section-header-{{page.section}}">
              <div class="head">
                <span class="front">{{ site.screenName[page.section] }}</span>
                <span class="back">{{ site.screenName[page.section] }}</span>
                {% if page.section == 'blog' %}
                    <div id="scl-buttons">
                        <a href="http://twitter.com/#!/ajupego" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                            <span class="fa-stack fa">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="http://www.facebook.com/pages/Ajuntament-de-Pego/210367298986788">
                            <span class="fa-stack fa">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="https://plus.google.com/116968350420735463793">
                            <span class="fa-stack fa">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="http://www.pego.org/feed.xml">
                            <span class="fa-stack fa">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                {% endif %}
              </div>
            </div>
        </div>

        {{ content }}
    </div>
</div>