---
layout: blog_layout
description: Plana web de l'Ajuntament de Pego en Alacant, aci podreu trobar informació refrent a els diferents departemaments de l'ajuntament de Pego; urbanisme, secretaria, oficina tècnica, tresoreria, intervenció, esports, cultura, etc. Axi com informacio referent al poble de Pego allotjament, comerços, festes, etc. i les ultimes noticies del poble. Pagina web del Ayuntamiento de Pego en Alicante, información sobre los diferentes departamentos del ayuntamiento de Pego, urbanismo, secretaria, oficina tecnica, tesoreria, interención, deportes, educación cultura, etc. Asi como la información referente al pueblo de Pego, alojamiento, comercios, fiestas, etc y las últimas noticias del pueblo.
---
{{ content }}
<!-- Banners -->
{% include banners.html %}
<!-- End Banners -->