---
layout: page
title: Instal·lacions Esportives
section: esports
jqueryui: true
description: Recull de la localització, horaris i serveis de les instal·lacions esportives del poble de Pego
---
<div class="tabs-instalacions tabs">
    <ul>
        <li><a href="#piscina">Piscina coberta</a></li>
        <li><a href="#cervantes">Camp de futbol "Cervantes"</a></li>
        <li><a href="#pujol">Zona esportiva del "Pujol"</a></li>
        <li><a href="#trilladora">Zona esportiva "La Trilladora"</a></li>
        <li><a href="#pavello">Pavello cobert municipal</a></li>
        <li><a href="#tiriarros">Camp de tir i arrosegament</a></li>
    </ul>
    <div id="piscina">
        {% capture lContent %}{% include esports/instalacions/piscina.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="cervantes">
        {% capture lContent %}{% include esports/instalacions/cervantes.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="pujol">
        {% capture lContent %}{% include esports/instalacions/pujol.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="trilladora">
        {% capture lContent %}{% include esports/instalacions/trilladora.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="pavello">
        {% capture lContent %}{% include esports/instalacions/pavello.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
    <div id="tiriarros">
        {% capture lContent %}{% include esports/instalacions/tiriarros.markdown %}{% endcapture %}
        {{ lContent | markdownify }}
    </div>
</div>